#ignoring everything
*
#Always un-ignore your .gitignore file
!.gitignore      
# Un-ignore README.md
!README.md       

!export.py
!train.py
!__init__.py

!/IsaacGymEnvs/isaacgymenvs/cfg/
!/IsaacGymEnvs/isaacgymenvs/cfg/**
!/IsaacGymEnvs/assets/urdf/gogoro/
!/IsaacGymEnvs/assets/urdf/gogoro/**
!/IsaacGymEnvs/isaacgymenvs/tasks/
!/IsaacGymEnvs/isaacgymenvs/tasks/**