#ignoring everything
*
!*/

#Always un-ignore your .gitignore file
!.gitignore      
# Un-ignore README.md
!README.md       


!/isaacgymenvs/cfg/
!/isaacgymenvs/cfg/**
!/assets/urdf/gogoro/
!/assets/urdf/gogoro/**
!/isaacgymenvs/tasks/
!/isaacgymenvs/tasks/**

!export.py
!train.py
!__init__.py
